<style>

.min-table-container {
  width: 99%;
  display: table;
  padding: 0px 1px 0px 1px;
  border-style: solid;
  border-width: 0px;
}

.min-table-row  {
  display: table-row;
  width: 100%;
}

.min-table-cell {
  display: table-cell;
  padding-top: 10px;
}




.tags {
  border-radius: 25px;
  background: lightgrey; /*#73AD21;*/
  padding: 5px;
  height: 55px;
  width: 250px;
  vertical-align: middle;
}

.selected_tag {
  width: 58%;
  vertical-align: top;
  border-style: solid;
  border-width: 0px;
}

.tags p {
  font-weight: bold;
  font-size: 17px;
}

.tags p small {
  font-size: 16px;
  color: #73AD21;
}

#selected_tag_table td {
   border-style: solid;
   border-width: 0px 0px 1px;
   line-height: 50px;
}

#selected_tag_table {
   border-collapse: collapse;
}

.obs_title {
  font-weight: bold;
}

.obs_value {
  color: green;
  font-weight: bold;
}

.selected_tg span {
  color: black;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  padding-top: 5%;
}

</style>


<div class="min-table-container">
  <div class="min-table-row">
   <div class="min-table-cell" style="width: 45%;">



      <!-- ................................. -->
      <%(@tags || []).each do|tag|%>
          <div class="tags" id="<%=tag.id%>" style="width: 88%; padding-left: 10px;" onclick = "javascript:selectTag(this)">
            <p>#<%= tag.name %>&nbsp;<small><%#=tag.created_at.strftime('%H:%M:%S')%></small></p>
          </div>
        <br />
      <%end%>
      <!-- ................................. -->


    </div>

    <div class="min-table-cell selected_tag" style="width: 54%;">
       <%if @tags.blank?%>
          <span>No tags created</span>
        <%end%>
      <table style="width: 99%;" id="selected_tag_table">
      </table>
    </div>



  </div>
</div>




<script>

function changeColor(e) {
  allDivs = document.getElementsByClassName('tags');
  for(var i = 0; i < allDivs.length; i++) {
    allDivs[i].style.background = "lightgrey";
  }
  e.style.background = "lightblue";
}

function selectTag(e) {
  changeColor(e);

  if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari  
      xmlhttp=new XMLHttpRequest();                                             
    }else{// code for IE6, IE5                                                  
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
    }                                                                           
    xmlhttp.onreadystatechange=function() {                                     
      if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
        var results = xmlhttp.responseText;                                     
        if(results == 'undefined' || results == '' || results == '"not validate"') {                           
          return;                                                               
        }else{
          addRows(results)                                                                  
        }                                                                       
      }                                                                         
    }                                                                           
    xmlhttp.open("GET","/tag_concepts/" + e.id, true);           
    xmlhttp.send();                                                             
  } 

  
function addRows(data) {
  t = document.getElementById('selected_tag_table')
  var rowCount = t.rows.length;
  for (var i = 0; i < rowCount; i++) {
    try{ 
      t.deleteRow(i);
    }catch(e){
      t.deleteRow(0);
    }
  }

  observations = JSON.parse(data);
  
  for(var i = 0; i < observations.length; i++) {        
    tr = document.createElement('tr');       
    td = document.createElement('td');
    td.setAttribute('class','obs_title')
    tr.appendChild(td);
    td.innerHTML = observations[i][0];       
    td = document.createElement('td');
    td.setAttribute('class','obs_value')
    tr.appendChild(td);
    td.innerHTML = observations[i][1];  
    t.appendChild(tr);     
  }        
          
}
</script>
