

<style>

body {
  font-family: Helvetica;
  font-size: 13px;
}

div.callout {
  height: 60px;
  float: left;
  width: 22%;
  right: -35px;
}

div.callout {
  background-color: #444;
  /*background-image: -moz-linear-gradient(top, #444, #444);*/
  position: relative;
  color: #ccc;
  /*padding: 10px;*/
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 20px #999;
  /*margin: 25px;*/
  margin: 5px 0px 5px 10px;
  min-height: 50px;
  border: 1px solid #333;
  text-shadow: 0 0 1px #000;
  /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}

.callout::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 0.8em solid transparent;
  position: absolute;
}



/*
.callout.top::before {
  left: 45%;
  bottom: -20px;
  border-top: 10px solid #444;
}

.callout.bottom::before {
  left: 45%;
  top: -20px;
  border-bottom: 10px solid #444;
}

.callout.left::before {
  right: -20px;
  top: 40%;
  border-left: 10px solid #444;
}

.callout.right::before {
  left: -20px;
  top: 40%;
  border-right: 10px solid #444;
}

.callout.top-left::before {
  left: 7px;
  bottom: -20px;
  border-top: 10px solid #444;
}

.callout.top-right::before {
  right: 7px;
  bottom: -20px;
  border-top: 10px solid #444;
}

*/

.tabs {
  width: 99%;
  display: table;
  padding: 0px 1px 0px 1px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  height: 10%;
}

.callout {
  text-align: center;
}

.callout p {
  text-align: center;
  font-size: 18px;
}

.callout.top::before {
  left: 45%;
  bottom: -20px;
  border-top: 10px solid #444;
}


/* ....................... tab content .............................. */

.tab-content {
  border-style: solid; 
  border-width: 1px 0px 0px 0px;
  margin-top: 7px;
  height: 59%;
  overflow: auto;
  background-color: snow;
  padding: 5px;
}

/* ....................... tab content end .............................. */

</style>



<!-- div class="callout top">Your Favourite HTML,CSS,JS Playground!</div -->

<div class="tabs">

  <div class="cells callout" onclick="javascript:openCell(this)" id='current_call'>
    <p>Current Call</p>
  </div>

  <div class="cells callout" onclick="javascript:openCell(this)" id="symptoms_history">
    <p>Symptoms History</p>
  </div>

  <div class="cells callout" onclick="javascript:openCell(this)" id="recent_calls">
    <p>Recent Calls</p>
  </div>

  <div class="cells callout" onclick="javascript:openCell(this)" id="tasks">
    <p>Tasks</p>
  </div>
</div>


<div class="tab-content">
  
  <%= render :partial => "patient/tabs/#{@tab_name}"%>

</div>

<script>

function initCell(e) {
  allTabs = document.getElementsByClassName('callout');
  for(var i = 0; i < allTabs.length; i++) {
    allTabs[i].setAttribute('class',"cells callout")
    allTabs[i].setAttribute('style',"background-color: #444; color: #ccc;");
  }
  e.setAttribute('class',"cells callout top");
  e.setAttribute('style',"background-color: #00f6b8; color: black;");
}

function openCell(e) {
  document.location = "/patient/dashboard/1/" + e.id;
}

initCell(document.getElementById("<%=@tab_name%>"));
</script>
