<script type="text/javascript">

    tt_cancel_show = "/";
    <% if @task == 'new' %>
        var tt_cancel_destination = "/"
    <% elsif params[:param] == 'verify_purpose' %>
        var tt_cancel_destination = "/patient/dashboard/<%= params[:patient_id] %>/tasks"
    <% else %>
        var tt_cancel_destination = "/"
    <% end %>

    function changeNextBtn() {
      document.getElementById('nextButton').innerHTML = '<span>Next</span>';
    }
</script>


  <%=form_tag '/start_call' do%>
  <%= select_tag 'district',
                 options_for_select(@location_names.sort, []), {
                                   :helpText => 'Caller\'s District of residence',
                                   :id => 'district',
                                   :tt_requireNextClick => false,
                                   :tt_onLoad => '$("nextButton").style.display = "none";'} %>
  <%# if @task == 'new'%>
      <%= select_tag 'call_mode', options_for_select(@call_modes), {
                                        :helpText => 'Select the type of caller?',
                                        :id => 'call_mode',
                                        :tt_onLoad => '$("keyboard").style.display = "none";changeNextBtn();__$("nextButton").style.display = "inline";'}%>
<% end %>
