default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: 
  
development:
  <<: *default
  database: Hotline_1_7_development

production:
  <<: *default
  database: Hotline_1_7_production
  

publify:
  adapter: mysql
  username: username
  database: publify_dev
  password: password
  host: localhost
  pool: 500
