<div style="float:right; margin-top:0.5%;">
        <button  class="button green" id="finish_button" onclick="window.location ='/reports_index?report_group=patient_analysis'">
           <span>Finish</span>
        </button>
      <button class="button red"  id="back_button" onclick="goBack()"><span>Back</span></button>
</div>
</div>