<style>

    .header .cells {
        vertical-align: middle;
        padding-right: 5px;
    }


    .header .icons {
        width: 100px;
        height: 100px;
    }
    body {
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */
    }

    img {
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        pointer-events: none;
    }

    .main-page-container  {
        display: table;
        width: 100%;
        padding: 0px 1px 0px 1px;
    }

    .main-page-container-rows  {
        display: table-row;
    }

    .cells {
        display: table-cell;
    }


    /* ...................................... */
    .divbtn {
        height: 265px;
        display: table;
        margin-top: 10px;
        cursor:pointer;
        box-shadow: inset 2px -4px 2px 0px;
        background-color: white;
        border-radius: 7px;
        width: 99%;
        border: solid black 3px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
    }

    .icons {
        width: 160px;
        height: 160px;
        margin-top: 10%;
        text-align: middle;
    }

    .divbtn p {
        font-weight: bold;
    }

    .btncells {
        width: 25%;
        text-align: center;
    }

    .small-icons {
        width: 100px;
        height: 100px;
    }

    .header .cells {
        vertical-align: middle;
        padding-right: 5px;
    }

    #scan {
        background-color: lightgrey;
        border-style: solid;
        border-width: 1px;
        font-size: 80px;
        margin-bottom: 6px;
        width: 44%;
    }

    .header .icons {
        width: 100px;
        height: 100px;
    }

    .button-label{
        /*font: italic small-caps bolder 16px/3 cursive;*/
        font: italic small-caps bolder condensed 17px/3 cursive;
    }
    .btn-menu{
        margin-top: 2%;
    }
    #main-fieldset{
        padding-top:2%;
        height:500px;
        overflow-y: scroll;
        overflow-x:hidden;
    }
    #finish_button{
        background: green;
    }
    #back_button{
        background:#a61c1c;
    }
    /* ...................................... */
</style>

<!--link href="/stylesheets/touch-fancy.css" media="screen" rel="stylesheet" type="text/css" /-->
<link href="/stylesheets/report.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/report_print.css" media="print" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/assets/jquery.js"></script>

<style>
    .header .cells {
        vertical-align: middle;
        padding-right: 5px;
    }
    .header .icons {
        width: 100px;
        height: 100px;
    }
    .icons{
        width: 10%;
        height: 10%;
    }
    #right_logo{
        width: 80%;
        height: 80% ;
    }
    legend{
        font-size: 22px;
        text-align: center;
        font-weight: bold;
    //color: #999999;
        color: #40869e;
    }
    #report_table tr:nth-child(even){
        background: #f7f7f0;
    }
    #report_table tr:nth-child(1) td {
        background: #b6b3b3;
    }
</style>


<div class="main-page-container" style="padding-top: 0px;">
    <div class="main-page-container-rows header">
        <div class="cells" style="width:50%;">
            <span class="icons small-icons" style=" border-right: 0px solid #ccc; color: #999;font-size: 1.5em; font-style: italic;">
        </div>
        <div class="cells" style="text-align: center; width: 3%;margin-right:5%;">
            <span class="icons small-icons">
                <img id="right_logo" src="/assets/vr.jpeg" style="border:1px solid #000000; margin-top:8%;">
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">
    function loadControlKeys(){
        tt_cancel_destination = "javascript:history.go(-1)";
        __$("keyboard").innerHTML = "";
        __$("keyboard").parentNode.removeChild(__$("keyboard"));

        var page = document.getElementsByClassName('inputPage')[0];
        page.parentNode.removeChild(page);

        __$("clearButton").style.display = "none";
        __$("nextButton").removeAttribute('onmousedown');
        __$("nextButton").setAttribute("onmousedown","window.location='/reports_index?report_group=<%=params[:report_type]%>'");
    }
</script>