<style>

.main-container-table {
  display: table;
  width: 100%;
  padding: 0px 1px 0px 1px;
}

.main-container-table-row {
  display: table-row;
}

.main-container-table-cell {
  display: table-cell;
  padding-left: 10px;
}
/* ............................ */


.min-container-table {
  display: table;
  width: 100%;
  padding: 0px 1px 0px 1px;
}

.min-container-table-row {
  display: table-row;
}

.min-container-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.remove-icon {
  height: 70px;
  width: 70px;
}

.encounters {
  border-style: solid;
  border-width: 0px;
}

.selected_encounter {
  width: 58%;
  vertical-align: top;
  border-style: solid;
  border-width: 0px;
}

</style>


<div class="main-container-table">
  <div class="main-container-table-row">
    <div class="main-container-table-cell" style="width: 38%;">
      <div class="min-container-table">
      <%1.upto(5).each do|n|%>
        <div class="min-container-table-row">
          <div class="min-container-table-cell" style="width: 10%;" onclick="javascript:voidEncounter(this)" id="<%=n%>">
            <%=image_tag("icons/Remove.png", class: 'remove-icon')%>
          </div>
          <div class="min-container-table-cell encounters" style="width: 88%; padding-left: 10px;"
              onclick = "javascript:selectEncounter(this)">
            <%= n %>&nbsp;QWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
          </div>
        </div>
      <%end%>
      </div>
    </div>
    <div class="main-container-table-cell selected_encounter" id="selected_encounter">
    </div>
  </div>
</div>



<script>

function voidEncounter(e) {
  alert(e.id)
}

function selectEncounter(e) {
  document.getElementById('selected_encounter').innerHTML = e.innerHTML;
}
</script>
