<style>

.main-container-table {
  display: table;
  width: 100%;
  padding: 0px 1px 0px 1px;
}

.main-container-table-row {
  display: table-row;
}

.main-container-table-cell {
  display: table-cell;
}


</style>


<div class="main-container-table">
  <div class="main-container-table-row">
    <div class="main-container-table-cell" style="width: 38%;">
      1
    </div>
    <div class="main-container-table-cell" style="width: 60%;">
      2
    </div>
  </div>
</div>
